.organic-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sponsored-thumbnail {
    height: 50%;
    min-height: 50%;
    object-fit: cover;
}

.organic-no-image-layout {
    color: black;
    font-size: large;
}

.organic-no-image-layout:hover {
    filter: brightness(50%);
}

.sponsored-no-image-layout {
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
}

.sponsored-no-image-layout:hover {
    filter: brightness(50%);
}

.skeleton-img {
    animation: skeleton-loading 1s linear infinite alternate;
}