.sponsored-img {
    height: 50%;
    min-height: 50%;
    object-fit: cover;
}

.sponsored-wrapper {
    padding: 2vw;
}

.sponsored-no-image-layout {
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
}

.sponsored-no-image-layout:hover {
    filter: brightness(50%);
}

.sponsored-source-name {
    margin-top: 2%;
}