.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Each column has a minimum width of 200px and expands to fill the available space */
    grid-gap: 20px;
    /* Adjust the gap between grid items as needed */
}

.card-container {
    height: 300px;
    background-color: #f5f5f5;
    background: linear-gradient(112.05deg, #FFFFFF 35.59%, #E1E1E1 100%);
    color: rgb(43, 43, 43);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.0578), 0px 2px 4px rgba(0, 0, 0, 0.04);;
}

.card-container:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 24px;
}

.card-container:hover img {
    filter: brightness(50%);
}

.no-image-layout:hover {
    filter: brightness(50%);
}

.caption {
    margin-top: 1%;
    font-weight: 600;
    font-size: 18px;
}

.widget-wrapper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}